---
import '../styles/global.css';
import ThemeSwitcher from '../components/theme/ThemeSwitcher.astro';
import Nav from '../components/nav/Nav.astro';

interface Props {
  headTitle: string;
  headDescription: string;
}

const { headTitle, headDescription } = Astro.props;
---
<!doctype html>
<html lang="en" class="m-0 w-full h-full bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100 font-sans leading-normal">
	<head>
		<meta charset="UTF-8" />
		<meta property="og:type" content="website">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{headTitle}</title>
		<meta name="description" content={headDescription} />
	</head>
	<body class="m-0 w-full h-full">
		<nav id="main-nav" class="sticky top-0 left-0 z-1 flex items-center justify-between">
			<Nav />
			<ThemeSwitcher />
		</nav>
		<main id="content" class="relative z-0">
			<slot />
		</main>
	</body>
</html>
